<section id="how-ssl-works" class="slide">

<h2>How SSL Works</h2>

<p>
  When a Web browser tries to connect to a website using SSL, the browser will first request the web server identify itself. This prompts the web server to send the browser a copy of the SSL Certificate. The browser checks to see if the SSL Certificate is trusted --  if the SSL Certificate is trusted, then the browser sends a message to the Web server. The server then responds to the browser with a digitally signed acknowledgement to start an SSL encrypted session. This allows encrypted data to be shared between the browser and the server. You may notice that your browsing session now starts with https (and not http).
</p>

<p>
  <a href='https://www.symantec.com/page.jsp?id=how-ssl-works'>What Happens When a Browser Encounters SSL</a>
</p>

    <ol>
      <li>
        A browser attempts to connect to a website secured with SSL.
      </li>

      <li>
        The browser requests that the web server identify itself.
      </li>

      <li>
        The server sends the browser a copy of its SSL Certificate.
      </li>

      <li>
        The browser checks whether it trusts the SSL Certificate. If so, it sends a message to the server.
      </li>

      <li>
        The server sends back a digitally signed acknowledgement to start an SSL encrypted session.
      </li>

      <li>
        Encrypted data is shared between the browser and the server and https appears.
      </li>
    </ol>

</section>