<section id="intro" class="slide">
  <h2>SSL</h2>
  <p>
    <a href='http://www.webopedia.com/TERM/S/SSL.html'>SSL</a> (pronounced as separate letters) is short for <em>Secure Sockets Layer</em>.
  </p>
  <p>
    <strong>Secure Sockets Layer (SSL)</strong> is a protocol developed by Netscape for transmitting private documents via the Internet. SSL uses a cryptographic system that uses two keys to encrypt data − a public key known to everyone and a private or secret key known only to the recipient of the message.
  </p>
  <p>
    Netscape developed the original SSL protocols. Version 1.0 was never publicly released because of serious security flaws in the protocol; version 2.0, released in February 1995, "contained a number of security flaws which ultimately led to the design of SSL version 3.0".[10] SSL version 3.0, released in 1996, represented a complete redesign of the protocol. As of 2014 the 3.0 version of SSL is considered insecure as it is vulnerable to the POODLE attack that affects all block ciphers in SSL; and RC4, the only non-block cipher supported by SSL 3.0, is also feasibly broken as used in SSL 3.0.
  </p>
  <p>
    <strong>TLS(Transport Layer Security).</strong> TLS is the new name for SSL. Namely, SSL protocol got to version 3.0; TLS 1.0 is "SSL 3.1"
  </p>
</section>