<section id="intro" class="slide">
  <h2>SSL</h2>
  <p>
    <a href='http://www.webopedia.com/TERM/S/SSL.html'>SSL</a> (pronounced as separate letters) is short for <em>Secure Sockets Layer</em>.
  </p>
  <p>
    <strong>Secure Sockets Layer (SSL)</strong> is a protocol developed by Netscape for transmitting private documents via the Internet. SSL uses a cryptographic system that uses two keys to encrypt data − a public key known to everyone and a private or secret key known only to the recipient of the message.
  </p>
</section>